*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:tahoma;
}

body{
background:#f3f5f2;
display:flex;
min-height:100vh;
}

.sidebar{
width:240px;
background:#9DC183;
padding:25px;
color:white;
box-shadow:0 0 20px rgba(0,0,0,.15);
}

.sidebar h2{
margin-bottom:30px;
text-align:center;
}

.menu{
width:100%;
padding:14px;
margin-bottom:12px;
border:none;
border-radius:12px;
background:white;
color:#444;
font-size:16px;
cursor:pointer;
transition:.3s;
}

.menu:hover{
transform:translateX(-5px);
background:#eef7e7;
}

.active{
background:#2f6d3a;
color:white;
}

.content{
flex:1;
padding:35px;
}

.card{
background:white;
padding:25px;
border-radius:18px;
box-shadow:0 10px 30px rgba(0,0,0,.08);
margin-bottom:30px;
animation:fade .5s;
}

.card h2{
margin-bottom:20px;
}

input,textarea{
width:100%;
padding:14px;
margin:10px 0;
border:1px solid #ddd;
border-radius:10px;
font-size:15px;
}

textarea{
height:120px;
resize:none;
}

#save{
width:100%;
padding:16px;
background:#9DC183;
border:none;
border-radius:12px;
color:white;
font-size:17px;
cursor:pointer;
transition:.3s;
}

#save:hover{
background:#7fa86b;
transform:scale(1.02);
}

#foods{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(280px,1fr));
gap:20px;
}

.food-card{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.08);
}

@keyframes fade{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
  }
